.spyproject/
*__pycache__*
CNN/mnist/
image_process/complex/
image_process/simple/
*.jpg
.idea/
*/snapshot/*
*/.ipynb_checkpoints/*
keras/data/
*.h5
.DS_Store
PyTorch_Tutorial/Data/
PyTorch_Tutorial/Result/
*.pkl
